USE [master]
GO
/****** Object:  Database [NHASACH]    Script Date: 12/15/2022 10:37:43 PM ******/
CREATE DATABASE [NHASACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHASACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGTINH\MSSQL\DATA\NHASACH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHASACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.NGTINH\MSSQL\DATA\NHASACH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHASACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHASACH]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAD] [int] IDENTITY(1,1) NOT NULL,
	[HoAD] [nvarchar](10) NULL,
	[TenAD] [nvarchar](30) NULL,
	[UsernameAD] [varchar](50) NULL,
	[GioiTinh] [char](1) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[AnhDaiDien] [varchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaSach]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaSach](
	[MaSach] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NoiDungDanhGia] [nvarchar](200) NULL,
	[ThoiGianDang] [datetime] NULL,
 CONSTRAINT [PK_DanhGiaSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaSach] [int] NULL,
	[SoLuong] [int] NULL,
	[Thoigian] [datetime] NULL,
	[ThanhTien] [float] NULL,
	[MaDH] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayLapHD] [datetime] NULL,
	[TongTien] [float] NULL,
	[TenKhach] [nvarchar](50) NULL,
	[SDTDatHang] [char](10) NULL,
	[EmailXacNhan] [varchar](50) NULL,
	[DiaChiNhanHang] [nvarchar](200) NULL,
	[GiamGia] [int] NULL,
	[TongThanhToan] [float] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayNhanHang] [date] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoKH] [nvarchar](20) NULL,
	[TenKH] [nvarchar](30) NULL,
	[UsernameKH] [varchar](50) NULL,
	[GioiTinh] [char](1) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[AnhDaiDien] [varchar](50) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[GiamGia] [int] NULL,
	[SoLanHuyDon] [smallint] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoai] [varchar](50) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_LoaiSach_1] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](11) NULL,
	[Fax] [char](11) NULL,
	[Email] [varchar](50) NULL,
	[Website] [varchar](50) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TuaSach] [nvarchar](100) NULL,
	[TacGia] [int] NULL,
	[NhaXuatBan] [int] NULL,
	[NgayXuatBan] [date] NULL,
	[TheLoai] [varchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[AnhMinhHoa] [varchar](60) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [int] IDENTITY(1,1) NOT NULL,
	[TenTacGia] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[QuocTich] [nvarchar](30) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/15/2022 10:37:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NULL,
	[Role] [varchar](10) NULL,
	[Email] [varchar](50) NULL,
	[Latest_Login] [datetime] NULL,
	[block] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAD], [HoAD], [TenAD], [UsernameAD], [GioiTinh], [DiaChi], [AnhDaiDien], [DienThoai], [NgaySinh]) VALUES (2, N'Trịnh', N'Đức Đạt', N'ducdat', N'M', N'Bà Rịa Vũng Tàu', N'/images/ducdat.jpg', N'0347933844', CAST(N'2000-05-26' AS Date))
INSERT [dbo].[Admin] ([MaAD], [HoAD], [TenAD], [UsernameAD], [GioiTinh], [DiaChi], [AnhDaiDien], [DienThoai], [NgaySinh]) VALUES (3, N'Ngọc', N'Linh', N'ngoclinh', N'M', N'Nha Trang', N'/images/ngoclinh.jpg', N'0326246343', CAST(N'2000-01-31' AS Date))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSach], [SoLuong], [Thoigian], [ThanhTien], [MaDH]) VALUES (24, 1, 50, 3, CAST(N'2022-12-15T17:32:38.253' AS DateTime), 60000, 7)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSach], [SoLuong], [Thoigian], [ThanhTien], [MaDH]) VALUES (25, 10, 4, 1, CAST(N'2022-12-15T17:34:08.853' AS DateTime), 20000, 8)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSach], [SoLuong], [Thoigian], [ThanhTien], [MaDH]) VALUES (26, 10, 3, 1, CAST(N'2022-12-15T17:34:12.023' AS DateTime), 20000, 8)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [TongTien], [TenKhach], [SDTDatHang], [EmailXacNhan], [DiaChiNhanHang], [GiamGia], [TongThanhToan], [TrangThai], [NgayNhanHang]) VALUES (7, 1, CAST(N'2022-12-15T17:32:46.527' AS DateTime), 54000, N'Phạm Nhật Bình', N'0316848645', N'binh@gmail.com', N'Ho Chi Minh', 10, 69000, N'Đã giao hàng', CAST(N'2022-12-20' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [NgayLapHD], [TongTien], [TenKhach], [SDTDatHang], [EmailXacNhan], [DiaChiNhanHang], [GiamGia], [TongThanhToan], [TrangThai], [NgayNhanHang]) VALUES (8, 10, CAST(N'2022-12-15T17:34:39.110' AS DateTime), 39200, N'Nguyễn Khoa Đảnh', N'0111222222', N'danh@gmail.com', N'Bà Rịa', 2, 54200, N'Đã nhận đơn', CAST(N'2022-12-20' AS Date))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [UsernameKH], [GioiTinh], [DiaChi], [AnhDaiDien], [DienThoai], [NgaySinh], [GiamGia], [SoLanHuyDon]) VALUES (1, N'Phạm Nhật', N'Bình', N'binhpham', N'M', N'Ho Chi Minh', N'/images/User/ducdat.jpg', N'0316848645', CAST(N'2000-05-26' AS Date), 10, 3)
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [UsernameKH], [GioiTinh], [DiaChi], [AnhDaiDien], [DienThoai], [NgaySinh], [GiamGia], [SoLanHuyDon]) VALUES (7, N'Bùi Trung', N'Hiếu', N'hieubui', N'M', N'Ho Chi Minh', N'/images/User/ducdat.jpg', N'0111111111', CAST(N'2000-06-26' AS Date), 10, 0)
INSERT [dbo].[KhachHang] ([MaKH], [HoKH], [TenKH], [UsernameKH], [GioiTinh], [DiaChi], [AnhDaiDien], [DienThoai], [NgaySinh], [GiamGia], [SoLanHuyDon]) VALUES (8, N'Đỗ Đức', N'Anh', N'anhdo', N'M', N'Ho Chi Minh', N'/images/ducdat.jpg', N'0111222222', CAST(N'2000-01-01' AS Date), 10, 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'CTPL', N'Chính trị pháp luật', NULL)
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'GD', N'Giáo dục', NULL)
INSERT [dbo].[LoaiSach] ([MaLoai], [TenLoai], [GhiChu]) VALUES (N'KHCN', N'Khoa học công nghệ', NULL)
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT], [Fax], [Email], [Website]) VALUES (1, N'NXB Kim Đồng', N'55 Quang Trung, Hai Bà Trưng, Hà Nội', N'02439434730', N'02430454065', N'kimdong@hn.vnn.vn', N'http://www.nxbkimdong.com.vn')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT], [Fax], [Email], [Website]) VALUES (2, N'NXB Trẻ', N'161B Lý Chính Thắng, Phường 7, Quận 3, Thành phố Hồ Chí Minh', N'02839317849', N'02838437450', N'hopthubandoc@nxbtre.com.vn', N'http://www.nxbtre.com.vn')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT], [Fax], [Email], [Website]) VALUES (3, N'NXB Tổng hợp TPHCM', N'62 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1, TP.HCM', N'02838225340', N'02838222726', N'tonghop@nxbhcm.com.vn', N'http://www.nxbhcm.com.vn')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSach], [TuaSach], [TacGia], [NhaXuatBan], [NgayXuatBan], [TheLoai], [SoLuong], [DonGia], [AnhMinhHoa]) VALUES (3, N'Doraemon truyện ngắn (tập 3)', 1, 1, CAST(N'1969-12-01' AS Date), N'TT', 98, 20000, N'/images/SanPham/doraemon-n-3.png')
INSERT [dbo].[SanPham] ([MaSach], [TuaSach], [TacGia], [NhaXuatBan], [NgayXuatBan], [TheLoai], [SoLuong], [DonGia], [AnhMinhHoa]) VALUES (4, N'Doraemon truyện ngắn (tập 4)', 1, 1, CAST(N'1969-12-01' AS Date), N'TT', 99, 20000, N'/images/SanPham/doraemon-n-4.png')
INSERT [dbo].[SanPham] ([MaSach], [TuaSach], [TacGia], [NhaXuatBan], [NgayXuatBan], [TheLoai], [SoLuong], [DonGia], [AnhMinhHoa]) VALUES (6, N'Luật Viễn Thông', 6, 6, CAST(N'2011-01-01' AS Date), N'CTPL', 99, 25000, N'/images/SanPham/luatvienthong.png')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [NgaySinh], [QuocTich]) VALUES (1, N'Fujiko Fujio', CAST(N'1933-12-01' AS Date), N'Nhật Bản')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [NgaySinh], [QuocTich]) VALUES (2, N'Aoyama Yoshimasa', CAST(N'1963-06-21' AS Date), N'Nhật Bản')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [NgaySinh], [QuocTich]) VALUES (3, N'Nguyễn Nhật Ánh', CAST(N'1955-05-07' AS Date), N'Việt Nam')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Role], [Email], [Latest_Login], [block]) VALUES (N'anhdo', N'123', N'user', N'anh@gmail.com', CAST(N'2022-12-14T20:15:57.047' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Role], [Email], [Latest_Login], [block]) VALUES (N'binhpham', N'123', N'user', N'binh@gmail.com', CAST(N'2022-12-15T22:22:07.433' AS DateTime), 0)
INSERT [dbo].[TaiKhoan] ([Username], [Password], [Role], [Email], [Latest_Login], [block]) VALUES (N'chienphung', N'123', N'user', N'chien@gmail.com', CAST(N'2022-12-09T15:26:46.430' AS DateTime), 0)
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_TaiKhoan] FOREIGN KEY([UsernameAD])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_TaiKhoan]
GO
ALTER TABLE [dbo].[DanhGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSach_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSach] CHECK CONSTRAINT [FK_DanhGiaSach_KhachHang]
GO
ALTER TABLE [dbo].[DanhGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_DanhGiaSach_SanPham] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SanPham] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGiaSach] CHECK CONSTRAINT [FK_DanhGiaSach_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_HoaDon1] FOREIGN KEY([MaDH])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_HoaDon1]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SanPham] ([MaSach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TaiKhoan] FOREIGN KEY([UsernameKH])
REFERENCES [dbo].[TaiKhoan] ([Username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSach] FOREIGN KEY([TheLoai])
REFERENCES [dbo].[LoaiSach] ([MaLoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSach]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaXuatBan] FOREIGN KEY([NhaXuatBan])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaXuatBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TacGia] FOREIGN KEY([TacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_TacGia]
GO
USE [master]
GO
