
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_Account_Actions.cshtml";
}

<div class="main">
    <h2>ĐĂNG KÝ</h2>
    <form action="/Account/Register" method="post">
        @Html.AntiForgeryToken()
        <label class="error">@Html.ValidationMessage("Invalid")</label>
        <label>Tên người dùng</label>
        <input type="text" name="Username" placeholder="Tên người dùng" class="form-control" required oninvalid="this.setCustomValidity('Username or Email required')" oninput="setCustomValidity('')" />
        <label>Mật khẩu</label>
        <input type="password" name="Password" placeholder="Mật khẩu" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" oninvalid="this.setCustomValidity('Minimum eight characters, at least one uppercase letter, one lowercase letter and one number.')" oninput="setCustomValidity('')" />
        <label>Nhập lại mật khẩu</label>
        <input type="password" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" class="form-control" required oninvalid="this.setCustomValidity('Nhập lại mật khẩu required')" oninput="setCustomValidity('')" />
        <label>Email</label>
        <input type="email" name="Email" placeholder="Email" class="form-control" required oninvalid="this.setCustomValidity('Email required')" oninput="setCustomValidity('')" />
        <div class="form-btn">
            <input type="button" value="Đăng nhập" id="back" class="btn btn-primary" onclick="location.href='/Account/Login'"/>
            <input type="submit" value="Đăng ký" id="submit" class="btn btn-success" />
        </div>
    </form>
</div>
