@model IEnumerable<BanSach.Models.DanhGiaSach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>ĐÁNH GIÁ SÁCH</h2>
<div class="main-info">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>

            <tr>
                <th>
                    Nội dung đánh giá
                </th>
                <th>
                    Thời gian đánh giá
                </th>
                <th>
                    Họ tên khách hàng
                </th>
                <th>
                    Sản phẩm đánh giá
                </th>
            </tr>
        </thead>
        <tfoot>

            <tr>
                <th>
                    Nội dung đánh giá
                </th>
                <th>
                    Thời gian đánh giá
                </th>
                <th>
                    Họ tên khách hàng
                </th>
                <th>
                    Sản phẩm đánh giá
                </th>
            </tr>
        </tfoot>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDungDanhGia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThoiGianDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhachHang.HoKH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SanPham.TuaSach)
                    </td>

                </tr>
            }
        </tbody>


    </table>
    </div>
